@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1890px) {
  html {
    font-size: 96.666666%;
  }
}
@media (max-width: 1790px) {
  html {
    font-size: 93.33333%;
  }
}
@media (max-width: 1690px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 1590px) {
  html {
    font-size: 83.34%;
  }
}
@media (max-width: 1490px) {
  html {
    font-size: 80.01%;
  }
}
@media (max-width: 1390px) {
  html {
    font-size: 76.68%;
  }
}
@media (max-width: 1290px) {
  html {
    font-size: 73.35%;
  }
}
@media (max-width: 1190px) {
  html {
    font-size: 70.02%;
  }
}
@media (max-width: 1090px) {
  html {
    font-size: 66.69%;
  }
}
@media (max-width: 990px) {
  html {
    font-size: 63.36%;
  }
}
@media (max-width: 890px) {
  html {
    font-size: 60%;
  }
}
